@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

body {
  background-color: var(--purple-bg);
}

button,
input {
  border: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
  width: 100%;
}

.title {
  color: var(--purple-bg);
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  line-height: 2rem;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  width: 100%;
}

.header .link-inherit {
  min-width: 120px;
  max-width: 176px;
  width: 30%;
}

.header .link-inherit .logo {
  width: 100%;
  height: 100%;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  order: 2;
  overflow-x: scroll;
  padding: 1rem 0;
  width: 100%;
}

.link {
  color: var(--white);
  font-size: 1rem;
}

.link:hover {
  color: var(--button-bg);
}

.link-active {
  border-left: 0.125rem solid var(--green);
  padding-left: 0.3rem;
}

.link-inherit {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 100%;
  text-decoration: inherit;
  width: auto;
}

.link-arrow {
  color: var(--button-bg);
  font-weight: bold;
  padding-right: 1.75rem;
  position: relative;
}

.link-arrow:hover {
  border-bottom: none;
  letter-spacing: 0.0625rem;
}

.link-arrow::after {
  content: url('./images/arrow-right.svg');
  padding-left: 0.2rem;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.search-bar-form {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  height: 100%;
}

.search-bar-form .btn-search {
  display: none;
}

.input {
  background-color: var(--dark-bg);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  max-width: 100%;
  padding: 0.5rem 1rem;
  resize: none;
}

.input:focus {
  background-color: var(--button-bg);
  outline: none;
}

.input:focus::placeholder {
  color: var(--dark-bg);
}

.input-search {
  border-radius: 0.5rem 0 0 0.5rem;
  max-width: 200px;
}

.btn {
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.btn-search {
  background: url('./images/search.svg') no-repeat center/auto border-box scroll,
    var(--button-bg);
  border-radius: 0 0.5rem 0.5rem 0;
  height: 2.5rem;
  padding: 0.5rem 2rem;
  width: 3rem;
}

.main {
  background-color: var(--light-purple);
}

/* Banner */

.banner {
  background: var(--purple-bg);
  border-bottom: 0.375rem solid var(--green);
}

.banner .container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.banner .title {
  color: var(--button-bg);
  font-size: 2.25rem;
  line-height: 3rem;
}

.banner .text {
  color: var(--white);
}

.banner article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1.5rem;
  max-width: 100%;
}

.banner article .title {
  width: 100%;
}

.banner-image {
  width: 100%;
  max-width: 100%;
  max-height: 360px;
}

.emphasis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.list-topics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.list-topics .item {
  border-bottom: 0.0625rem solid var(--button-bg);
  padding-bottom: 2rem;
}

.list-topics .item:last-child {
  border: none;
  padding-bottom: 0;
}

.news {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.list-article-fluid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  margin-top: 0.5rem;
  width: 100%;
}

/* Responsive */

@media (max-width: 425.98px) {
  .container {
    padding: 0 1rem;
  }

  .title {
    font-size: 1rem;
  }

  .text {
    font-size: 0.875rem;
  }

  .input-search:focus {
    max-width: 120px;
  }

  .banner .container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .emphasis {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .list-article-fluid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@media (min-width: 425.98px) and (max-width: 768.98px) {
  .title {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1rem;
  }

  .list-article-fluid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .input-search {
    background: url('./images/search.svg') no-repeat center/1.5rem border-box
      scroll;
    padding: 0.5rem;
    width: 3rem;
  }

  .input-search::placeholder {
    color: transparent;
  }

  .input-search:focus {
    height: 100%;
    border-radius: 0.5rem;
    background-color: var(--white);
    width: 100%;
  }
}

@media (min-width: 768.98px) {
  .header {
    flex-wrap: nowrap;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .header .logo {
    width: auto;
  }

  .header .search-bar {
    display: flex;
  }

  .menu-nav {
    border: none;
    gap: 1rem;
    justify-content: center;
    order: 0;
    overflow-x: initial;
  }

  .search-bar-form .btn-search {
    display: block;
  }

  .btn {
    font-weight: bold;
  }

  .list-topics {
    padding: 0 2rem;
  }
}
